<header>
    <nav id="anhors" class="main">
        <a class="page-scroll" href="#about">1. Про конкурс</a>
        <a class="page-scroll" href="#conditions">2. Умови конкурсу</a>
        <a class="page-scroll" href="#programm">3. Програма</a>
        <a class="page-scroll" href="#prizes">4. Премії та нагороди</a>
        <a class="page-scroll" href="#registration">5. Онлайн-реєстрація</a>
        <a class="page-scroll" href="#jury">6. Журі</a>
        <a class="page-scroll" href="#contacts">7. Контакти</a>
        <a class="page-scroll" href="#press">8. Преса</a>
        <a class="page-scroll" href="#partners">9. Партнери</a>
        <a class="page-scroll" href="#gallery">10. Галерея</a>
    </nav>
    <span>{{ site.data.l10n.t[page.lang].index.Language }}</span>
    <nav class="lang">
        <a class="ua" href="{{ site.baseurl }}/">ua</a>
        <a class="en" href="{{ site.baseurl }}/en/">en</a>
        <a class="ru" href="{{ site.baseurl }}/ru/">ru</a>
    </nav>
    <div>{{ page.title }}</div>
</header>
