<section id="news" class="news">

  <div class="caption">
    <h3>Новини</h3>
  </div>

  <div class="news-list__item">
    {% for news in site.categories.news limit:10 %}
      <div class="news-list__item">

        <div class="text-container">
          <a href="{{ news.url }}" class="news-list__image">{{ news.title }}</a>
        </div>

        <div class="text-container">
          <div class="news-list__title"><a href="{{ news.url }}">{{ news.title }}</a></div>
          <div class="news-list__date">{{ news.date | date: '%d.%m.%Y' }}</div>
        </div>

      </div>
    {% endfor %}
  </div>

</section>
