<nav class="js-anhor-nav nav-main nav-main-normal">
    <a href="#top" class="top">&nbsp;</a>
    <a href="#about">{{ site.data.l10n.t[page.lang].About }}</a>
    <a href="#conditions">{{ site.data.l10n.t[page.lang].Conditions }}</a>
    <a href="#programm">{{ site.data.l10n.t[page.lang].Programm }}</a>
    <a href="#prizes">{{ site.data.l10n.t[page.lang].Prizes }}</a>
    <a href="#jury">{{ site.data.l10n.t[page.lang].Jury }}</a>
    <a href="#partners">{{ site.data.l10n.t[page.lang].Partners }}</a>
    <a href="#contacts">{{ site.data.l10n.t[page.lang].Contacts }}</a>
    {% include 00-last-day.html %}
</nav>
