<section id="about">
    <img src="{{ site.baseurl }}/assets/img/skoryk-compettition-logo.jpg" alt="Skoryk Compettition Logo">
    <h3>1. Про конкурс.</h3>
    <p>Всеукраїнський відкритий музичний конкурс Мирослава Скорика – це перший в Україні конкурс на виконання музики всесвітньо відомого композитора – Героя України, Народного артиста України, лауреата Національної премії України імені Тараса Шевченка Мирослава Скорика.</p>
    <p>Метою конкурсу є сприяння творчому та духовному зростанню обдарованих юних музикантів, створення умов для реалізації їх творчого потенціалу  і професійної підготовки за сучасними світовими стандартами. Як Голова журі Конкурсу, Мирослав Скорик прагне розвивати  музичне мистецтво в Україні та сприяти талановитій музичній молоді. Переможці Конкурсу в якості призів отримають також можливість участі у майстер - класах відомих музикантів, а також виступати на концертних майданчиках України, в тому числі у супроводі оркестру під орудою Мирослава Скорика.</p>
    <p>Засновник Конкурсу - «Благодійний фонд Анни Томасишин», який реалізував низку успішних мистецьких проектів, зокрема фестиваль «CON AMORE». Співорганізатори Конкурсу - Національна музична академія України імені П. І. Чайковського та Національна спілка композиторів України.</p>
    <p>Конкурс відбуватиметься за сприяння Марини Порошенко та Міністерства культури України.</p>
</section>









