<section id="about" class="about">

  <div class="caption">
    <h3>{{ page.About }}</h3>
  </div>

  <div class="foreword-wrap">
    <div class="foreword-item">
      <h4>{{ page.ForewordTitle }}</h4>
    </div>
    <div class="foreword-item">
      <p>{{ page.ForewordP1 }}</p>
      <p>{{ page.ForewordP2 }}</p>
    </div>
    <div class="foreword-item">
      <p>{{ page.ForewordP3 }}</p>
      <p>{{ page.ForewordP4 }}</p>
      <p>{{ page.ForewordP5 }}</p>
    </div>
  </div>
  {% include svg/triangle.svg %}

  <div class="speeches-wrap">
    <div class="speeches-item">
      <img class="js-lazy"
        data-original="{{ site.baseurl }}/assets/img/person/poroshenko.png"
        alt="Photo Of Poroshenko"
      >
      <h4>{{ page.PoroshenkoGritings }}</h4>
      <p>{{ page.PoroshenkoP1 }}</p>
      <p>{{ page.PoroshenkoP2 }}</p>
      <p>{{ page.PoroshenkoP3 }}</p>
      <h5>{{ page.PoroshenkoEnd }}</h5>
    </div>

    <div class="speeches-item">
      <img class="js-lazy"
        data-original="{{ site.baseurl }}/assets/img/person/skoryk.png"
        alt="Photo Of Skoryk"
      >
      <h4>{{ page.SkorykGritings }}</h4>
      <p>{{ page.SkorykP1 }}</p>
      <p>{{ page.SkorykP2 }}</p>
      <p>{{ page.SkorykP3 }}</p>
      <h5>{{ page.SkorykEnd }}</h5>
    </div>

    <div class="speeches-item">
      <img class="js-lazy"
        data-original="{{ site.baseurl }}/assets/img/person/tomasyshyn.png"
        alt="Photo Of Tomasyshyn"
      >
      <h4>{{ page.TomasyshynGritings }}</h4>
      <p>{{ page.TomasyshynP1 }}</p>
      <p>{{ page.TomasyshynP2 }}</p>
      <p>{{ page.TomasyshynP3 }}</p>
      <p>{{ page.TomasyshynP4 }}</p>
      <h5>{{ page.TomasyshynEnd }}</h5>
    </div>
  </div>

  <!-- <h3 class="gallery-title">{{ page.Gallery1 }}</h3>
  <p class="gallery-description">{{ page.Gallery2 }}</p>
  <div class="gallery">
    {% include svg/triangle.svg %}
    <div class="fotorama">
      <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6374.jpg" alt="Photo Of Con Amore Festum 2015">
      <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6181.jpg" alt="Photo Of Con Amore Festum 2015">
      <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6200.jpg" alt="Photo Of Con Amore Festum 2015">
      <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6215.jpg" alt="Photo Of Con Amore Festum 2015">
      <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6284.jpg" alt="Photo Of Con Amore Festum 2015">
      <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6316.jpg" alt="Photo Of Con Amore Festum 2015">
      <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6329.jpg" alt="Photo Of Con Amore Festum 2015">
      <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6340.jpg" alt="Photo Of Con Amore Festum 2015">
    </div>
  </div> -->

  {% include svg/triangle.svg %}
</section>

