<section id="about" class="about">

    <div class="caption">
        <h3>Про конкурс</h3>
    </div>

    <div class="foreword-wrap">
        <div class="foreword-item">
            <h4>Всеукраїнський відкритий музичний конкурс Мирослава Скорика – це перший в Україні конкурс на виконання музики всесвітньо відомого композитора – Героя України, народного артиста України, лауреата Національної премії України імені Тараса Шевченка Мирослава Скорика.</h4>
        </div>
        <div class="foreword-item">
            <p>Метою конкурсу є сприяння творчому та духовному зростанню обдарованих юних музикантів, створення умов для реалізації їх творчого потенціалу  і професійної підготовки за сучасними світовими стандартами.</p>
            <p>Переможці конкурсу отримають можливість участі у майстер-класах відомих музикантів, а також виступати на концертних майданчиках України, в тому числі у супроводі оркестру під орудою Мирослава Скорика.</p>
        </div>
        <div class="foreword-item">
            <p>Засновник конкурсу – «Благодійний фонд Анни Томасишин», який реалізував низку успішних мистецьких проектів, у тому числі проведення фестивалю «CON AMORE».</p>
            <p>Співорганізатори конкурсу – Національна музична академія України імені П. І. Чайковського та Національна спілка композиторів України.</p>
            <p>Конкурс проводиться під патронатом Марини Порошенко та за сприяння Міністерства культури України.</p>
        </div>
    </div>
    {% include svg/triangle.svg %}

    <div class="speeches-wrap">
        <div class="speeches-item">
            <img src="{{ site.baseurl }}/assets/img/person/poroshenko.png" alt="Photo Of Poroshenko">
            <h4>Шановні організатори Першого Всеукраїнського Конкурсу Мирослава Скорика!</h4>
            <p>Сьогодні Україна переживає один із найскладніших історичних періодів свого існування. Ми змушені відстоювати свою незалежність, територіальну цілісність, цінності й культуру. І очевидно, що без високого рівня моральності й духовності громадян не можливо побудувати сильну демократичну державу, духовно багате й культурно розвинене суспільство.</p>
            <p>Щиро дякую організаторам Першого Всеукраїнського Конкурсу Мирослава Скорика за прекрасну ініціативу, яка покликана сприяти розвитку музичного мистецтва в Україні. Ви робите надважливу справу – шукаєте і підтримуєте юні таланти, а також – підвищуєте рівень культури всього українського народу.</p>
            <p>Переконана, що Конкурс пройде на високому рівні, а перемогу здобудуть найкращі та найталановитіші юні українці! Зі свого боку готова надати сприяння та допомогу у проведенні Всеукраїнського Конкурсу Мирослава Скорика.</p>
            <h5>Щиро, Марина Порошенко.</h5>
        </div>

        <div class="speeches-item">
            <img src="{{ site.baseurl }}/assets/img/person/skoryk.png" alt="Photo Of Skoryk">
            <h4>Дорогі юні піаністи!</h4>
            <p>Фортепіанна музика - це основа музичної культури, і ви до неї належите. Вона є улюбленою для широкого кола музикантів і любителів музики. Такою вона є і для мене. І коли мені запропонували надати мої фортепіанні твори для конкурсу молодих піаністів, це стало для мене великою приємністю.</p>
            <p>Тому я запрошую вас взяти участь в цьому конкурсі і надіюся, що він виявить нові  таланти і дасть їм шлях  у висоти фортепіанного виконавства.</p>
            <p>Щиро бажаю вам успіху!</p>
            <h5>З повагою, Мирослав Скорик.</h5>
        </div>

        <div class="speeches-item">
            <img src="{{ site.baseurl }}/assets/img/person/tomasyshyn.png" alt="Photo Of Tomasyshyn">
            <h4>Дорогі друзі!</h4>
            <p>Народився ще один конкурс, несхожий на інші. Його «візитною карткою» і полем змагань стане музика видатного українського композитора, нашого сучасника Мирослава Скорика. Світлий, життєрадісний і креативний світ цієї музики кожному з конкурсантів відкриває унікальну можливість глибше пізнати нашу культуру і гармонійно виявити свій талант.</p>
            <p>Я впевнена, що цей новий конкурс стане справжнім святом, об'єднає визнаних у світі музикантів і молодих виконавців, їхніх педагогів, батьків і просто щирих шанувальників музики. Найяскравішим і найуспішнішим конкурсантам він допоможе розширити коло професійного спілкування. Крім призів вони отримають запрошення до участі у престижних і авторитетних міжнародних майстер-класах.</p>
            <p>Бажаю всім учасникам конкурсу віри в свої сили і натхнення. Нехай гармонія і краса музики Мирослава Скорика надихнуть вас до нових творчих злетів. Бажаю всім наснаги у роботі під час конкурсу й великого завзяття до перемоги!</p>
            <p>Я щиро вдячна всім, хто підтримав ідею цього конкурсу.</p>
            <h5>З повагою, Анна Томасишин.</h5>
        </div>
    </div>

    <h3 class="gallery-title">Гала концерт "Con Amore Festum" 2015</h3>
    <p class="gallery-description">проект, що ініціював конкурс Мирослава Скорика</p>
    <div class="gallery">
        {% include svg/triangle.svg %}
        <div class="fotorama">
            <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6374.jpg" alt="Photo Of Con Amore Festum 2014">
            <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6181.jpg" alt="Photo Of Con Amore Festum 2014">
            <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6200.jpg" alt="Photo Of Con Amore Festum 2014">
            <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6215.jpg" alt="Photo Of Con Amore Festum 2014">
            <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6284.jpg" alt="Photo Of Con Amore Festum 2014">
            <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6316.jpg" alt="Photo Of Con Amore Festum 2014">
            <!-- <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6317.jpg" alt="Photo Of Con Amore Festum 2014"> -->
            <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6329.jpg" alt="Photo Of Con Amore Festum 2014">
            <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6340.jpg" alt="Photo Of Con Amore Festum 2014">
        </div>
    </div>

    {% include svg/triangle.svg %}
</section>

