<section id="conditions" class="conditions">

    <div class="caption">
        <h3>{{ site.data.l10n.t[page.lang].Conditions }}</h3>
    </div>

    <p class="conditions-description">{{ site.data.l10n.t[page.lang].ConditionsDescr }}</p>

    <div class="rule-wrap">
        <div class="rule-item">
            <div class="number">
                <span>1</span>
            </div>
            <div class="description">
                <h4>{{ site.data.l10n.t[page.lang].Punkt1 }}</h4>
            </div>
            <div class="more">
                <a class="drop-down js-official-rules-toggle">{{ site.data.l10n.t[page.lang].OfficialContestTerms }} {% include svg/drop-down.svg %}</a>
            </div>
        </div>
        {% include official-rules-content.html %}

        <div class="rule-item">
            <div class="number">
                <span>2</span>
            </div>
            <div class="description">
                <h4>{{ site.data.l10n.t[page.lang].Punkt2 }}</h4>
                <p>{{ site.data.l10n.t[page.lang].Punkt2_1 }}</p>
                <p>{{ site.data.l10n.t[page.lang].Punkt2_2 }} <a href="mailto:mmskoryk@gmail.com?subject='{{ site.data.l10n.t[page.lang].EmailSubject }}'">mmskoryk@gmail.com</a></p>
            </div>
            <div class="more">
                <a class="doc" href="{{ site.baseurl }}/assets/docs/skoryk-competition-form.doc">{% include svg/doc.svg %} {{ site.data.l10n.t[page.lang].DownloadForm }}</a>
            </div>
        </div>

        <div class="rule-item">
            <div class="number">
                <span>3</span>
            </div>
            <div class="description">
                <h4>{{ site.data.l10n.t[page.lang].Punkt3 }}</h4>
            </div>
            <div class="more">
                <a class="drop-down js-bank-account-toggle">{{ site.data.l10n.t[page.lang].BankDetails }} {% include svg/drop-down.svg %}</a>
            </div>
        </div>
        {% include bank-account-content.html %}
    </div>

</section>

