<section id="conditions">
    <h3>Умови конкурсу</h3>
    <p>І Всеукраїнського відкритого музичного конкурсу Мирослава Скорика
    1.1.  І Всеукраїнський відкритий музичний конкурс Мирослава Скорика (далі – 
    Конкурс) відбудеться у місті Києві з 17 по 20 лютого  2016 року за номінацією 
    «ФОРТЕПІАНО».
    1.2. У Конкурсі можуть брати участь піаністи віком від 13 до 21 років (на 
    момент проведення Конкурсу), учні та студенти музичних навчальних закладів,  
    які згодні з умовами Конкурсу.
    1.3. Для участі в Конкурсі  є  обов’язковим  виконання програмних вимог.
    2. ПОРЯДОК ПОДАЧІ ДОКУМЕНТІВ
    2.1. Заявки на участь у Конкурсі  приймаються до 20 січня 2015 року включно 
    на офіційному Інтернет сайті Конкурсу.
    2.2. До заявки  на  участь у Конкурсі додаються при онлайн-реєстрації в 
    електронній формі: 
    копії відповідних сторінок паспорта, які засвідчують вік 
    і громадянство учасника, або свідоцтво про народження; 
    копії диплома  про  музичну  освіту,  для  учнів та студентів   - 
    довідка з місця навчання; 
    творча біографія (резюме); 
    фотокартка (формат Jpg, png, tiff, git).
    2.3. Після отримання всіх необхідних документів Оргкомітет Конкурсу, не 
    пізніше ніж 1 лютого 2015 року, надсилає підтвердження про участь у Конкурсі 
    на контактну адресу, вказану кандидатом у Заявці. У разі необхідності надсилає 
    офіційне запрошення. 
    2.4. Документи, надіслані не в повному обсязі або із запізненням, не 
    розглядаються.
    2.5. Оргкомітет Конкурсу залишає за собою право використовувати всі 
    надіслані учасниками інформаційні матеріали і фотографії для надання їх ЗМІ.
    3. ПОРЯДОК ПРОВЕДЕННЯ КОНКУРСУ
    3.1. Конкурсну програму складають  змагання у  два  тури. Другий тур та 
    заключний концерт переможців проводиться у супроводі симфонічного 
    оркестру. 
    3.2. Оцінювання виступів конкурсантів та визначення переможців Конкурсу 
    здійснює журі, до складу якого запрошуються діячі музичного мистецтва 
    України та зарубіжних країн. 
    3.3. Всі прослуховування відбуваються публічно.
    3.4. Порядок виступів конкурсантів у кожній номінації  визначається 
    жеребкуванням перед першим туром і зберігається до кінця конкурсу.
    3.5. Тривалість виступів конкурсантів не повинна виходити за межі  
    дозволеного часу.
    3.6. До другого туру допускаються 5 конкурсантів. 
    3.7. Рішення журі на всіх турах Конкурсу є остаточними і оскарженню не 
    підлягають.
    3.8. Всі переможці Конкурсу мають бути присутні на урочистому закритті 
    Конкурсу, а також  зобов’язані  безкоштовно виступити в заключному концерті 
    переможців.
    3.9. Оргкомітет Конкурсу залишає за собою всі права на трансляцію по радіо, 
    телебаченню та через Інтернет конкурсних прослуховувань та заключного 
    концерту, їх аудіо-  та відеозапис.
    4.1. Всі учасники Конкурсу повинні сплатити вступний внесок у розмірі 1000 
    гривень на рахунок ____________ до 20 січня 2015 року. 
    Без сплати вступного внеску  учасник до конкурсних   прослуховувань не 
    допускається. 
    В разі відмови кандидата від участі в конкурсі вступний внесок йому не 
    повертається.
    4.2. Проїзд конкурсантів до м. Києва і в зворотньому напрямку здійснюється 
    за власний рахунок.
    4.3. Витрати, пов'язані з перебуванням (проживання і харчування) 
    здійснюються таким чином:
    - для учасників I туру – за власний рахунок;
    - для учасників II та заключного концерту переможців  – за рахунок Конкурсу.
    4.4. Оргкомітет не забезпечує витрати, пов’язані з перебуванням інших осіб, які 
    супроводжують конкурсантів. 
    4.5. Учасники, які прибули на конкурс і відмовилися від виступу, а також 
    учасники, які не пройшли на II тур, можуть залишатися до кінця конкурсу за 
    власний рахунок.</p>
</section>

