<section id="conditions" class="conditions">

    <div class="caption">
        <h3>{{ page.Conditions }}</h3>
    </div>

    <p class="conditions-description">{{ page.ConditionsDescr }}</p>

    <div class="rule-wrap">
        <div class="rule-item">
            <div class="number">
                <span>1</span>
            </div>
            <div class="description">
                <h4>{{ page.Punkt1 }}</h4>
            </div>
            <div class="more">
                <a class="drop-down js-official-rules-toggle">{{ page.OfficialContestTerms }} {% include svg/drop-down.svg %}</a>
            </div>
        </div>
        {% include official-rules-content.html %}

        <div class="rule-item">
            <div class="number">
                <span>2</span>
            </div>
            <div class="description">
                <h4>{{ page.Punkt2 }}</h4>
                <p>{{ page.Punkt2_1 }}</p>
                <p>{{ page.Punkt2_2 }} <a href="mailto:mmskoryk@gmail.com?subject='{{ page.EmailSubject }}'">mmskoryk@gmail.com</a></p>
            </div>
            <div class="more">
                <a class="doc" href="{{ site.baseurl }}/assets/docs/skoryk-competition-form.doc">{% include svg/doc.svg %} {{ page.DownloadForm }}</a>
            </div>
        </div>

        <div class="rule-item">
            <div class="number">
                <span>3</span>
            </div>
            <div class="description">
                <h4>{{ page.Punkt3 }}</h4>
            </div>
            <div class="more">
                <a class="drop-down js-bank-account-toggle">{{ page.BankDetails }} {% include svg/drop-down.svg %}</a>
            </div>
        </div>
        {% include bank-account-content.html %}
    </div>

</section>

