<section id="programm" class="programm">

    <div class="caption">
        <h3>Програма</h3>
    </div>

    <div class="wrap">
        <h4>«Фортепіано»</h4>
        <p>- Усі твори виконуються напам'ять</p>
        <p>- Твір може бути виконаний лише один раз</p>
        <p>- Порядок виконання творів за бажанням конкурсанта</p>
        <p>- Програма ІІ туру виконується у супроводі симфонічного оркестру</p>
        <p>- На сайті конкурсу розміщений нотний матеріал з творів Мирослава Скорика</p>
    </div>


    <div class="rule-container">
        <div class="rule-item">
            <div class="number">
                <span>4</span>
            </div>
            <div class="description">
                <h4>1й Тур «Skoryk Competition»</h4>
                <p>Скачайте та вивчіть один з запропонованих творів</p>
            </div>
        </div>

        <div class="rule-item">
            <div class="number">
                <span>5</span>
            </div>
            <div class="description">
                <h4>1й Тур «Skoryk Competition»</h4>
                <p>До другого туру допускаються 4 конкурсанти у кожній віковій категорії. Для фіналістів потрібно скачати та вивчити твір Мирослава Скорика</p>
            </div>
        </div>
    </div>

    <div class="more" style="display:none;">
        <a href="#">Скачати</a>





1. Прелюдія і фуга з циклу «Прелюдії та фуги» (за вибором). (Download)
2. Твори із списку (за вибором):
Токата (Download)
Бурлеска (Download)
фортепіанний цикл «В Карпатах»: 
«Пісня бойка»,  (Download)
  ,  (Download)
«Спів у горах»,  (Download)
«Коломийка» (Download)
Листок до альбому (Download)
п’єса «Лірник» з «Дитячого альбому» (Download)
Мелодія (Download)
Блюз (Download)
фортепіанний цикл «Шість джазових п’єс»: 
«Приємна прогулянка»,  (Download)
«Нав’язливий мотив»,  (Download)
«Візерунки»,  (Download)
«В старому джазовому стилі»,  (Download)
«В народному стилі»,  (Download)
«Каприз» (Download)
Партита № 5: 
«Прелюдія»,  (Download)
«Вальс»,  (Download)
«Хор»,  (Download)
«Арія»,  (Download)
«Фінал». (Download)
3. Твір, написаний М. Скориком для І туру конкурсу. (Download)
2 тур (ноти)  - До другого туру допускаються 4 конкурсанти у кожній віковій категорії. 
Мирослав Скорик. Концерт №1 для фортепіано з оркестром (C-dur). (Download)


        
    </div>


    <img src="{{ site.baseurl }}/assets/img/programm.png" alt="...">

    <div style="display:none;">

    <p>Першого Всеукраїнського музичного конкурсу Мирослава Скорика</p>

    <h4>Фортепіано</h4>
    <ul>
        <li>Усі твори виконуються напам'ять</li>
        <li>Твір може бути виконаний лише один раз</li>
        <li>Порядок виконання творів за бажанням конкурсанта</li>
        <li>Програма ІІ туру виконується у супроводі симфонічного оркестру</li>
        <li>На сайті конкурсу розміщений нотний матеріал з творів Мирослава Скорика</li>
    </ul>

    <h4>Перший тур</h4>
    <p>(тривалість виступу - до 25 хвилин)</p>
    <ul>
        <li>Одна із частин циклу «Прелюдія та фуга».</li>
        <li>Один із творів (за вибором).</li>
        <li>Твір, написаний М. Скориком для І туру Конкурсу.</li>
    </ul>

    <h4>Другий тур</h4>
    <ul>
        <li>Мирослав Скорик. Концерт №1 для фортепіано з оркестром (C-dur).</li>
    </ul>

    <p>Ноти творів розміщуються у форматі пдф під назвою кожного пункту (твору)</p>
    </div>
</section>
