<section id="programm" class="programm">

    <div class="caption">
        <h3>Програма</h3>
    </div>

    <div class="wrap">
        <h4>«Фортепіано»</h4>
        <p>- Усі твори виконуються напам'ять</p>
        <p>- Твір може бути виконаний лише один раз</p>
        <p>- Порядок виконання творів за бажанням конкурсанта</p>
        <p>- Програма ІІ туру виконується у супроводі симфонічного оркестру</p>
        <p>- На сайті конкурсу розміщений нотний матеріал з творів Мирослава Скорика</p>
    </div>

    <div class="rule-container">
        <div class="rule-item">
            <div class="number">
                <span>4</span>
            </div>
            <div class="description">
                <h4>1й Тур «Skoryk Competition»</h4>
                <p>Скачайте та вивчіть один з запропонованих творів</p>

                <div class="music-wrap">
                    {% for one in site.categories.one %}
                        <div class="music-item">
                            <div class="title">
                                <p>{{ one.title }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ site.baseurl }}/assets/docs/one{{ one.id }}.pdf" download>Скачати</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="rule-item">
            <div class="number">
                <span>5</span>
            </div>
            <div class="description">
                <h4>2й Тур «Skoryk Competition»</h4>
                <p>До другого туру допускаються 4 конкурсанти у кожній віковій категорії. Для фіналістів потрібно скачати та вивчити твір Мирослава Скорика</p>

                <div class="music-wrap">
                    {% for two in site.categories.two %}
                        <div class="music-item">
                            <div class="title">
                                <p>{{ two.title }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ site.baseurl }}/assets/docs/two{{ two.id }}.pdf" download>Скачати</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
