<section id="prizes" class="prizes">

    <img src="{{ site.baseurl }}/assets/img/prizes.png" alt="...">

    <div style="display:none;">
    <div class="caption">
        <h3>Премії та нагороди</h3>
    </div>

    <ol>
        <li>
            <span>Оргкомітет визначає нагороди та встановлює розміри премій для переможців Конкурсу у кожній із номінацій:</span>
            <ul>
                <li>Перша премія - 2000 у.о. і звання лауреата;</li>
                <li>Друга премія – 1500 у.о. і звання лауреата;</li>
                <li>Третя премія – 1000 у.о. і звання лауреата;</li>
            </ul>
        </li>

        <li>
            <span>Фіналістам, не удостоєним звання лауреата (не більше двох за кожною із номінацій), присвоюється звання дипломанта Конкурсу та премія у розмірі 500 у.о.</span>
        </li>

        <li>
            <span>Журі має право:</span>
            <ul>
                <li>присудити не всі премії;</li>
                <li>розподіляти премії між виконавцями (крім першої).</li>
            </ul>
        </li>

        <li>
            <span>Всі премії виплачуються у гривнях за курсом, встановленим Національним банком України на момент проведення Конкурсу.</span>
        </li>

        <li>
            <span>За рішенням Журі переможці Конкурсу нагороджується:</span>
            <ul>
                <li>спеціальним призом Мирослава Скорика – виступом із симфонічним оркестром під орудою маестро протягом 2016 року;</li>
                <li>спеціальним призом - забезпеченням участі у майстер-класах: Académie Internationale d'Eté de Nice (Франція), International Summer Academy of Music (Німеччина) та ін.</li>
            </ul>
        </li>
    </ol>

    <p>Громадські, благодійні, музичні, міжнародні організації, спонсори Конкурсу, а також окремі діячі культури можуть за власний рахунок установлювати спеціальні призи та премії учасникам Конкурсу. Нагородження ними обов’язково погоджується з журі Конкурсу.</p>
    </div>
</section>
