<section id="prizes">
    <h3>4. Премії та нагороди</h3>
    <p>
    ПРЕМІЇ ТА НАГОРОДИ
    1. Оргкомітет визначає нагороди та встановлює розміри премій для переможців 
    Конкурсу у кожній із номінацій:
    Перша премія - 2000 у.о. і звання лауреата;
    Друга премія – 1500 у.о. і звання лауреата;
    Третя премія – 1000 у.о. і звання лауреата;
    2. Фіналістам,   не  удостоєним  звання  лауреата  (не більше двох за кожною із 
    номінацій), присвоюється звання дипломанта Конкурсу та премія у розмірі 500 
    у.о.
    3. Журі має право: 
    присудити не всі премії; 
    розподіляти премії між виконавцями (крім першої).
    4. Всі премії виплачуються у гривнях за курсом, встановленим Національним 
    банком України на момент проведення Конкурсу. 
    5. За рішенням Журі переможці Конкурсу нагороджується:
       спеціальним призом Мирослава Скорика – виступом із симфонічним 
    оркестром під орудою маестро протягом 2016 року;
      спеціальним призом - забезпеченням участі у майстер-класах: Académie 
    Internationale d'Eté de Nice (Франція), International Summer Academy of Music 
    (Німеччина) та ін.
    Громадські, благодійні, музичні, міжнародні організації, спонсори 
    Конкурсу, а також окремі діячі культури можуть за власний рахунок 
    установлювати спеціальні призи та премії учасникам Конкурсу. Нагородження 
    ними обов’язково погоджується з журі Конкурсу.</p>
</section>
