<section id="registration" class="registration">

    <div class="caption">
        <h3>Реєстрація</h3>
    </div>

    <p>1. Скачати та заповнити анкету</p>
    <p>2. Надіслати анкету разом з фотографією та скан-копіями документів на: mmskoryk@gmail.com</p>
    <p>3. Реквізити для оплати вступних внесків:</p>
    <p>Назва юридичної особи - «Благодійний фонд Анни Томасишин» </p>
    <p>Код ЄДРПОУ: 40034061</p>
    <p>р/р 26003052759602 в</p>
    <p>ПАТ КБ «ПРИВАТБАНК»,</p>
    <p>МФО 300711</p>
    <p>У «призначенні платежу» обов’язково вказуються П.І.Б. учасника та текст «вступний внесок».</p>
</section>

