<section id="registration">
    <h3>5. Онлайн-реєстрація</h3>
    <h4>5.1. Заявка</h4>
    <p>ЗАЯВКА</p>
    <p>на участь у Всеукраїнському відкритому музичному конкурсу Мирослава Скорика</p>
    <p>
        <label for="participantLastName">Прізвище</label>
        <input type="text" id="participantLastName" ng-model="participantLastName">
    </p>
    <p>
        <label for="participantFirstName">Ім'я</label>
        <input type="text" id="participantFirstName" ng-model="participantFirstName">
    </p>
    <p>
        <label for="participantFatherName">По батькові</label>
        <input type="text" id="participantFatherName" ng-model="participantFatherName">
    </p>
    <button ng-click="saveParticipant()">Відправити</button>

{% include admin.html %}



<script>
    function participantCtrl($scope) {
        $scope.participantLastName = "";
        $scope.participantFirstName = "";
        $scope.participantFatherName = "";

        $scope.myData = new Firebase("https://sizzling-torch-6523.firebaseio.com/")
        $scope.saveParticipant = function() {
            $scope.myData.push({participantLastName:$scope.participantLastName})
        };
    };

</script>

    <p>Дата і місце народження______________________________________________</p>
    <p>Музична освіта _____________________________________________________</p>
    <p>(навчальний заклад, курс, якщо отримано диплом - у якому році)</p>
    <p>Педагоги__________________________________________________________</p>
    <p>__________________________________________________________________</p>
    <p>(прізвище, ім'я, почесні звання, вчені ступені)</p>
    <p>Місце роботи, посада конкурсанта (за наявності)__________________________</p>
    <p>__________________________________________________________________</p>
    <p>Участь у міжнародних  та  інших  конкурсах,  премії,  нагороди</p>
    <p>__________________________________________________________________</p>
    <p>__________________________________________________________________</p>
    <p>Адреса  для  листування  (з  поштовим  індексом),   контактний</p>
    <p>телефон, e-mail _______________________________________________</p>
    <p>__________________________________________________________________</p>
    <p>__________________________________________________________________</p>
    <p>КОНКУРСНА ПРОГРАМА ПО ТУРАХ</p>
    <p>I тур                                                хронометраж </p>
    <p>1.____________________________________ ____________</p>
    <p>2.____________________________________ ____________</p>
    <p>3.____________________________________ ____________</p>
    <p>II тур </p>
    <p>1.____________________________________ ____________ </p>
    <p>З умовами конкурсу згоден(на) і зобов'язуюсь їх виконувати.</p>

    <h4>5.2. Фотографія (передбачити завантаження)</h4>
    <h4>5.3.Скан-копії документів (передбачити завантаження)</h4>
    <h4>5.4. Оплата ???</h4>
</section>



