<section id="registration" ng-controller="participantCtrl">
    <form action="">
        <h3>5. Онлайн-реєстрація</h3>
        <h4>5.1. Заявка</h4>
        <p>ЗАЯВКА</p>
        <p>на участь у Всеукраїнському відкритому музичному конкурсу Мирослава Скорика</p>
        <p>
            <label for="participantLastName">Прізвище *</label>
            <input type="text" id="participantLastName" ng-model="participantLastName" required>
        </p>
        <p>
            <label for="participantFirstName">Ім'я *</label>
            <input type="text" id="participantFirstName" ng-model="participantFirstName" required>
        </p>
        <p>
            <label for="participantFatherName">По батькові *</label>
            <input type="text" id="participantFatherName" ng-model="participantFatherName" required>
        </p>
        <p>
            <label for="">Дата і місце народження</label>
            <input type="text" id="">
        </p>
        <p>
            <label for="">Музична освіта</label>
            <input type="text" id="">
            <span>(навчальний заклад, курс, якщо отримано диплом - у якому році)</span>
        </p>
        <p>
            <label for="">Педагоги</label>
            <input type="text" id="">
            <span>(прізвище, ім'я, почесні звання, вчені ступені)</span>
        </p>
        <p>
            <label for="">Місце роботи, посада конкурсанта (за наявності)</label>
            <input type="text" id="">
        </p>
        <p>
            <label for="">Участь у міжнародних та інших конкурсах, премії, нагороди</label>
            <input type="text" id="">
        </p>
        <p>
            <label for="">Адреса для листування (з  поштовим  індексом), контактний телефон, e-mail</label>
            <input type="text" id="">
        </p>

        <p>КОНКУРСНА ПРОГРАМА ПО ТУРАХ</p>
        <p>I тур                                                хронометраж </p>
        <p>1.____________________________________ ____________</p>
        <p>2.____________________________________ ____________</p>
        <p>3.____________________________________ ____________</p>
        <p>II тур </p>
        <p>1.____________________________________ ____________ </p>
        <p>З умовами конкурсу згоден(на) і зобов'язуюсь їх виконувати.</p>

        <h4>5.2. Фотографія (передбачити завантаження)</h4>
        <p>
            <label for="participantPhoto">Фотографія *</label>
            <input type="file" name="img" accept="image/jpeg,image/png,image/gif" id="participantPhoto" ng-model="participantPhoto" required>
        </p>
        <h4>5.3.Скан-копії документів (передбачити завантаження)</h4>
        <h4>5.4. Оплата ???</h4>
        <input type="submit" ng-click="saveParticipant()" value="Відправити">
    </form>
</section>



