<section id="jury" class="jury">

    <div class="caption">
        <h3>{{ site.data.l10n.t[page.lang].Jury }}</h3>
    </div>

    <div class="jury-wrap">
        <div class="jury-item skoryk">
            <img src="{{ site.baseurl }}/assets/img/person/skoryk.png" alt="Photo Of Skoryk">
            <h4>{{ site.data.l10n.t[page.lang].SkorykName }}</h4>
            <p>{{ site.data.l10n.t[page.lang].SkorykAbout1 }}</p>
            <p>{{ site.data.l10n.t[page.lang].SkorykAbout2 }}</p>
            <p>{{ site.data.l10n.t[page.lang].SkorykAbout3 }}</p>
            <p>{{ site.data.l10n.t[page.lang].SkorykAbout4 }}</p>
            <p>{{ site.data.l10n.t[page.lang].SkorykAbout5 }}</p>
        </div>
    </div>
    <div class="jury-wrap">
        <div class="jury-item dorfman">
            <img src="{{ site.baseurl }}/assets/img/person/dorfman.png" alt="Photo Of Dorfman">
            <h4>{{ site.data.l10n.t[page.lang].DorfmanName }}</h4>
            <a href="#newsOne" class="btn open-popup-link" data-effect="mfp-zoom-in">Інтерв'ю з Лілі Дорфман</a>
            <p>{{ site.data.l10n.t[page.lang].DorfmanAbout }}</p>
        </div>
        <div class="jury-item kot">
            <img src="{{ site.baseurl }}/assets/img/person/kot.png" alt="Photo Of Kot">
            <h4>{{ site.data.l10n.t[page.lang].KotName }}</h4>
            <p>{{ site.data.l10n.t[page.lang].KotAbout }}</p>
        </div>
    </div>
    <div class="jury-wrap">
        <div class="jury-item olyinyk">
            <img src="{{ site.baseurl }}/assets/img/person/olyinyk.png" alt="Photo Of Olyinyk">
            <h4>{{ site.data.l10n.t[page.lang].OlyinykName }}</h4>
            <p>{{ site.data.l10n.t[page.lang].OlyinykAbout }}</p>
        </div>
        <div class="jury-item suhovienko">
            <img src="{{ site.baseurl }}/assets/img/person/suhovienko.png" alt="Photo Of Suhovienko">
            <h4>{{ site.data.l10n.t[page.lang].SuhovienkoName }}</h4>
            <p>{{ site.data.l10n.t[page.lang].SuhovienkoAbout }}</p>
        </div>
        <div class="jury-item fedorov">
            <img src="{{ site.baseurl }}/assets/img/person/fedorov.png" alt="Photo Of Fedorov">
            <h4>{{ site.data.l10n.t[page.lang].FedorovName }}</h4>
            <p>{{ site.data.l10n.t[page.lang].FedorovAbout }}</p>
        </div>
    </div>

</section>

