<section id="partners" class="partners">

  <div class="caption">
    <h3>{{ site.data.l10n.t[page.lang].Partners }}</h3>
  </div>

  <div class="partners-wrap">
    <div class="partners-category">
      <h4><span>{{ site.data.l10n.t[page.lang].Patronage }}</span></h4>
      <img class="poroshenko" src="{{ site.baseurl }}/assets/img/partners/poroshenko.png" alt="Logo Of Poroshenko">
    </div>
    <div class="partners-category">
      <h4><span>{{ site.data.l10n.t[page.lang].Assistance }}</span></h4>

      <div class="mincult">
        <img src="{{ site.baseurl }}/assets/img/partners/mincult.png" alt="Logo Of Mincult">
        <h6>{{ site.data.l10n.t[page.lang].MincultTitle }}</h6>
      </div>

      <div class="belgium">
        <img src="{{ site.baseurl }}/assets/img/partners/belgium.png" alt="Logo Of Belgium Embassy">
        <h6>{{ site.data.l10n.t[page.lang].BelgiumTitle }}</h6>
      </div>

      <div class="israel">
        <img src="{{ site.baseurl }}/assets/img/partners/israel.png" alt="Logo Of Israel Embassy">
        <h6>{{ site.data.l10n.t[page.lang].IsraelTitle }}</h6>
      </div>

    </div>
    <div class="partners-category">
      <h4><span>{{ site.data.l10n.t[page.lang].Organizer }}</span></h4>
      <h5>«Благодійний фонд Анни Томасишин»</h5>
    </div>
    <div class="partners-category">
      <h4><span>{{ site.data.l10n.t[page.lang].Coorganizers }}</h4>
      <img class="conamore" src="{{ site.baseurl }}/assets/img/partners/conamore.png" alt="Logo Of Conamore">
      <img class="conservatory" src="{{ site.baseurl }}/assets/img/partners/conservatory.png" alt="Logo Of Conservatory">
      <img class="union" src="{{ site.baseurl }}/assets/img/partners/union.png" alt="Logo Of Union">
    </div>
    <div class="partners-category">
      <h4><span>{{ site.data.l10n.t[page.lang].Sponsors }}</span></h4>

      <a class="folk-ukraine" href="{{ site.data.l10n.t[page.lang].FolkUkraineUrl }}" target="_blank">
        <img src="{{ site.baseurl }}/assets/img/partners/folk-ukraine.png" alt="Folk Ukraine">
      </a>

      <a class="premier" href="{{ site.data.l10n.t[page.lang].PremierUrl }}" target="_blank">
        <img src="{{ site.baseurl }}/assets/img/partners/premier.png" alt="Premier Hotels and Resorts">
        <h5>{{ site.data.l10n.t[page.lang].PremierTitle }}</h5>
      </a>

      <div class="orchestra">
        <img src="{{ site.baseurl }}/assets/img/partners/orchestra.png" alt="Logo Of Orchestra">
      </div>

      <br>

      <div class="kozlovskogo">
        <img src="{{ site.baseurl }}/assets/img/partners/kozlovskogo.png" alt="Logo Of Kozlovskogo">
      </div>

      <div class="tarelka">
        <img src="{{ site.baseurl }}/assets/img/partners/tarelka.png" alt="Logo Of Tarelka">
      </div>

      <div class="porto-franko">
        <img src="{{ site.baseurl }}/assets/img/partners/porto-franko.png" alt="Porto Franko">
      </div>

      <h5>ТОВ «ПІК Консалтинг»</h5>

    </div>
    <!-- <div class="partners-category">
      <h4><span>{{ site.data.l10n.t[page.lang].InfoPartners }}</span></h4>
      <img class="metro" src="{{ site.baseurl }}/assets/img/partners/metro.png" alt="Logo Of Metro">
    </div> -->
  </div>

  {% include svg/triangle.svg %}

</section>
