<section id="partners" class="partners">

    <div class="caption">
        <h3>{{ site.data.l10n.t[page.lang].Partners }}</h3>
    </div>

    <div class="partners-wrap">
        <div class="partners-category">
            <h4><span>{{ site.data.l10n.t[page.lang].Patronage }}</span></h4>
            <img class="poroshenko js-lazy"
                data-original="{{ site.baseurl }}/assets/img/partners/poroshenko.png"
                alt="Logo Of Poroshenko"
            >
        </div>
        <div class="partners-category">
            <h4><span>{{ site.data.l10n.t[page.lang].Assistance }}</span></h4>

            <div class="mincult">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/mincult.png"
                    alt="Logo Of Mincult"
                >
                <h6>{{ site.data.l10n.t[page.lang].MincultTitle }}</h6>
            </div>

            <div class="belgium">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/belgium.png"
                    alt="Logo Of Belgium Embassy"
                >
                <h6>{{ site.data.l10n.t[page.lang].BelgiumTitle }}</h6>
            </div>

            <div class="israel">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/israel.png"
                    alt="Logo Of Israel Embassy"
                >
                <h6>{{ site.data.l10n.t[page.lang].IsraelTitle }}</h6>
            </div>

        </div>
        <div class="partners-category">
            <h4><span>{{ site.data.l10n.t[page.lang].Organizer }}</span></h4>

            <div class="fond-tomasishyn">
                <h5>«Благодійний фонд<br>Анни Томасишин»</h5>
            </div>

        </div>
        <div class="partners-category">
            <h4><span>{{ site.data.l10n.t[page.lang].Coorganizers }}</h4>
            <img class="conamore js-lazy"
                data-original="{{ site.baseurl }}/assets/img/partners/conamore.png"
                alt="Logo Of Conamore"
            >
            <img class="conservatory js-lazy"
                data-original="{{ site.baseurl }}/assets/img/partners/conservatory.png"
                alt="Logo Of Conservatory"
            >
            <img class="union js-lazy"
                data-original="{{ site.baseurl }}/assets/img/partners/union.png"
                alt="Logo Of Union"
            >
        </div>
        <div class="partners-category">
            <h4><span>{{ site.data.l10n.t[page.lang].Sponsors }}</span></h4>

            <div class="tereshenko">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/tereshenko.png"
                    alt="Logo Of Tereshenko"
                >
                <h5>{{ site.data.l10n.t[page.lang].TereshenkoTitle }}</h5>
            </div>

            <div class="mau">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/mau.png"
                    alt="Logo Of Mau"
                >
                <h5>{{ site.data.l10n.t[page.lang].MauTitle }}</h5>
            </div>

            <a class="premier" href="{{ site.data.l10n.t[page.lang].PremierUrl }}" target="_blank">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/premier.png"
                    alt="Logo Of Premier Hotels and Resorts"
                >
                <h5>{{ site.data.l10n.t[page.lang].PremierTitle }}</h5>
            </a>

            <br>

            <a class="folk-ukraine" href="{{ site.data.l10n.t[page.lang].FolkUkraineUrl }}" target="_blank">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/folk-ukraine.png"
                    alt="Logo Of Folk Ukraine"
                >
            </a>

            <div class="kamelia">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/kamelia.png"
                    alt="Logo Of Kamelia"
                >
            </div>

            <div class="taruta">
                <h5>Сергій<br>ТАРУТА</h5>
            </div>

            <div class="music-ukraine">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/music-ukraine.png"
                    alt="Logo Of Music Ukraine"
                >
            </div>

            <div class="den">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/den.png"
                    alt="Logo Of Den"
                >
            </div>

            <br>

            <div class="orchestra">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/orchestra.png"
                    alt="Logo Of Orchestra"
                >
            </div>

            <div class="kozlovskogo">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/kozlovskogo.png"
                    alt="Logo Of Kozlovskogo"
                >
            </div>

            <div class="tarelka">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/tarelka.png"
                    alt="Logo Of Tarelka"
                >
            </div>

            <div class="pik-consulting">
                <h5>ТОВ<br>«ПІК Консалтинг»</h5>
            </div>

            <div class="porto-franko">
                <img class="js-lazy"
                    data-original="{{ site.baseurl }}/assets/img/partners/porto-franko.png"
                    alt="Logo Of Porto Franko"
                >
            </div>

        </div>
        <!-- <div class="partners-category">
            <h4><span>{{ site.data.l10n.t[page.lang].InfoPartners }}</span></h4>
            <img class="metro" src="{{ site.baseurl }}/assets/img/partners/metro.png" alt="Logo Of Metro">
        </div> -->
    </div>

    {% include svg/triangle.svg %}

</section>
