<section id="gallery">
    <h3>Галерея</h3>
    <h4>Con Amore Festum 2014</h4>

    <div class="fotorama">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6374.jpg" alt="...">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6181.jpg" alt="...">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6200.jpg" alt="...">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6215.jpg" alt="...">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6284.jpg" alt="...">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6316.jpg" alt="...">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6317.jpg" alt="...">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6329.jpg" alt="...">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6340.jpg" alt="...">
    </div>

</section>
