<section id="gallery">
    <h3>10. Галерея</h3>

    <div class="fotorama">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6181.jpg" alt="..." data-caption="onsectetur adipisicing elit Placeat ">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6200.jpg" alt="..." data-caption="numquam est voluptas error quae atque au">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6215.jpg" alt="..." data-caption="sint totam eveniet inventore of">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6284.jpg" alt="..." data-caption="consectetur sapiente pjoop" >
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6316.jpg" alt="..." data-caption="simus in suscipit velit, fugit veniam n">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6317.jpg" alt="..." data-caption="simus in suscipit velit, fugit veniam n">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6329.jpg" alt="..." data-caption="simus in suscipit velit, fugit veniam n">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6340.jpg" alt="..." data-caption="simus in suscipit velit, fugit veniam n">
        <img src="{{ site.baseurl }}/assets/img/gallery/IMG_6374.jpg" alt="..." data-caption="simus in suscipit velit, fugit veniam n">
    </div>

</section>
