<div class="news-fixed">
  <h5>Новини:</h5>
  <a href="#newsOne" class="open-popup-link" data-effect="mfp-zoom-in">Інтерв'ю з Лілі Дорфман</a>
</div>

<div id="newsOne" class="modal mfp-with-anim mfp-hide">

  <div class="media">
    <img src="{{ site.baseurl }}/assets/img/person/dorfman.png" alt="Photo Of Dorfman">
    <h4>{{ page.DorfmanName }}</h4>
  </div>

  <h3>Лілі Дорфман: Ми дуже підтримуємо Київ, Україну й прагнемо вибудувати лінію нашої взаємної співпраці</h3>

  <br>

  <p>Пропонуємо вашій увазі коротке інтерв'ю з поважним членом журі конкурсу, відомою піаністкою й педагогом пані Лілі Дорфман (Ізраїль)</p>

  <br>

  <p><b>— Пані Дорфман, ви відбиратимете учасників Конкурсу Мирослава Скорика для майстер-класів у Німеччині...</b></p>

  <p>— Так! У Німеччині існує літня музична академія ISAM (International Sommer Academy of Music). Вона працює вже 11-й рік. Це навіть не майстер-клас, а академія. У нас три відділення: композиція, орган і, головне, фортепіано.</p>
  <p>Ідея створення академії належить моєму покійному чоловікові композитору Йосефу Дорфману. Він мріяв про відродження єврейської музичної культури у Європі. Першою відгукнулася Німеччина. Заклад було відкрито у місті Міхельштадті, неподалік Франкфурта. Пізніше ми стали частиною офіційної німецької музичної академії у місті Оксенхаузені.</p>
  <p>До нас приїжджають талановиті молоді музиканти з усіх країн світу віком від 18 до 38 років.</p>

  <p><b>— Ви плануєте відібрати двох учасників?</b></p>

  <p>— Ми говорили з Анною Томасишин — вона прекрасний організатор, — про те, щоб узяти двох студентів. Одного спонсорував би Конкурс Скорика, а другого ми могли б забезпечити половиною стипендії. Але це повинно вирішувати журі.</p>
  <p>На композиторському відділенні у нашій академії теж проводиться конкурс — Конкурс імені Йосефа Дорфмана. Хотілося б заохотити студентів Національної музичної академії України імені Петра Чайковського записатися до нас.</p>
  <p>Ми дуже підтримуємо Київ, Україну й прагнемо вибудувати лінію нашої взаємної співпраці.</p>

  <p><b>— Ви плануєте цю співпрацю на постійній основі?</b></p>

  <p>— Мені б хотілося налагодити тривалий, міцний зв'язок. Я щиро бажаю підтримати ваших молодих музикантів.</p>

  <p><b>— Ваша академія — літня, тобто ви функціонуєте три місяці на рік чи все відбувається якось інакше?</b></p>

  <p>— Наша академія працює два тижні у серпні.</p>

  <p><b>— Як ви зв'язалися з Конкурсом Мирослава Скорика? У вас є знайомства в Україні?</b></p>

  <p>— Потрапити в Київ — моя мрія. Я ніколи в житті у вас не була! І раптом мені телефонує Анна Томасишин!!! Вона, виявляється, знає усіх, хто побував на наших літніх курсах, чула відгуки про нашу академію.</p>

  <p><b>Як важливо, що ви проводите Конкурс Мирослава Скорика, — видатний український композитор, знаний у світі, а він ще й очолює журі! Це пречудово! Я багато очікую від цього змагання!</b></p>

  <p><i>Ольга ГОЛИНСЬКА, музикознавець</i></p>

</div>
