<section id="partners" class="partners">

    <div class="caption">
        <h3>Партнери</h3>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
    </div>

    <table>
        <td>

            <h4>За сприяння</h4>
            <table>
                <td>
                    <img src="{{ site.baseurl }}/assets/img/partners/poroshenko.png" alt="Logo Of Poroshenko">
                    <h5>М.А. Порошенко</h5>
                </td>
                <td>
                    <img src="{{ site.baseurl }}/assets/img/partners/mincult.jpg" alt="Logo Of Mincult">
                    <h5>Міністерство Культури України</h5>
                </td>
            </table>

        </td>
        <td>

            <h4>Організатор</h4>
            <h5>«Благодійний фонд Анни Томасишин»</h5>

        </td>
    </table>

    <br>

    <h4>Співорганізатори</h4>
    <table>
        <td>
            <img src="{{ site.baseurl }}/assets/img/partners/conamore.jpg" alt="Logo Of Conamore">
            <h5>Con Amore Festum</h5>
        </td>
        <td>
            <img src="{{ site.baseurl }}/assets/img/partners/conservatory.jpg" alt="Logo Of Conservatory">
            <h5>Conservatory</h5>
        </td>
        <td>
            <img src="{{ site.baseurl }}/assets/img/partners/union.png" alt="Logo Of Union">
            <h5>Union</h5>
        </td>
        <td>
            <img src="{{ site.baseurl }}/assets/img/partners/tarelka.jpg" alt="Logo Of Tarelka">
            <h5>Tarelka</h5>
        </td>
    </table>

    <br>

    <!-- <h4>Генеральний партнер</h4>
    <p>(Будуть пізніше)</p>

    <br> -->
     
    <h4>Спонсори і партнери</h4>
    <table>
        <td>
            <img src="{{ site.baseurl }}/assets/img/partners/orchestra.jpg" alt="Logo Of Orchestra">
            <h5>Orchestra</h5>
        </td>
        <td>
            <img src="{{ site.baseurl }}/assets/img/partners/kozlovskogo.jpg" alt="Logo Of Kozlovskogo">
            <h5>Kozlovskogo</h5>
        </td>
    </table>

    <br>

    <h4>Інформаційні партнери</h4>
    <table>
        <td>
            <img src="{{ site.baseurl }}/assets/img/partners/metro.png" alt="Logo Of Metro">
            <h5>Metro</h5>
        </td>
    </table>

</section>
