<section id="partners">
    <h3>Партнери</h3>
    <article>
        <img src="https://avatars2.githubusercontent.com/u/7967541?v=3&s=200" alt="Logo Of Partner">
        <h4>TripMe</h4>
    </article>
    <article>
        <img src="https://avatars2.githubusercontent.com/u/12602165?v=3&s=200" alt="Logo Of Partner">
        <h4>Irukanji</h4>
    </article>
    <article>
        <img src="https://avatars0.githubusercontent.com/u/12779415?v=3&s=200" alt="Logo Of Partner">
        <h4>Sentimony</h4>
    </article>
    <article>
        <img src="https://avatars2.githubusercontent.com/u/12783358?v=3&s=200" alt="Logo Of Partner">
        <h4>Aqua Deep</h4>
    </article>
    <article>
        <img src="https://avatars3.githubusercontent.com/u/12783360?v=3&s=200" alt="Logo Of Partner">
        <h4>Lookinglook</h4>
    </article>
    <article>
        <img src="https://avatars0.githubusercontent.com/u/12860483?v=3&s=200" alt="Logo Of Partner">
        <h4>NextClick</h4>
    </article>
    <article>
        <img src="https://avatars1.githubusercontent.com/u/13560637?v=3&s=200" alt="Logo Of Partner">
        <h4>Rooster</h4>
    </article>
    <article>
        <img src="https://avatars0.githubusercontent.com/u/13984488?v=3&s=200" alt="Logo Of Partner">
        <h4>Tesl'ar</h4>
    </article>
    <article>
        <img src="https://avatars1.githubusercontent.com/u/14082879?v=3&s=200" alt="Logo Of Partner">
        <h4>Bandcamp</h4>
    </article>
</section>
