<section id="partners" class="partners">
    <h3>Партнери</h3>


<table>
    <td>

<h4>За сприяння</h4>
<p>(додаються два лого  М.А. Порошенко та Мінкульт)</p>      

    </td>
    <td>

<h4>Організатор</h4>
<p>«Благодійний фонд Анни Томасишин»</p>
<p>(прописується текст та додається лого)</p>

    </td>
</table>

<br>

<h4>Співорганізатори</h4>
<p>( три лого: КонАморе концерваторія, спілка композиторів)</p>

<br>

<h4>Генеральний партнер</h4>
<p>(Будуть пізніше)</p>

<br>
 
<h4>Спонсори і партнери</h4>
<p>(лого: президенський оркестр президента,козловського)</p>

<br>

<h4>Інформаційні партнери</h4>
<p>(Будуть пізніше)</p>




    <article>
        <img src="{{ site.baseurl }}/assets/img/partners/conamore.jpg" alt="Logo Of Partner">
    </article>
    <article>
        <img src="{{ site.baseurl }}/assets/img/partners/conservatory.jpg" alt="Logo Of Partner">
    </article>
    <article>
        <img src="{{ site.baseurl }}/assets/img/partners/kozlovskogo.jpg" alt="Logo Of Partner">
    </article>
    <article>
        <img src="{{ site.baseurl }}/assets/img/partners/mincult.jpg" alt="Logo Of Partner">
    </article>
    <article>
        <img src="{{ site.baseurl }}/assets/img/partners/orchestra.jpg" alt="Logo Of Partner">
    </article>
    <article>
        <img src="{{ site.baseurl }}/assets/img/partners/union.png" alt="Logo Of Partner">
    </article>
</section>
