<div class="official-rules-content js-official-rules-content" style="display:none;">
    <h4>{{ page.RulesTitle }}</h4>
    <p>{{ page.RulesDescr }}</p>

    <h5>{{ page.Rule_1 }}</h5>
    <ul>
        <li>{{ page.Rule_1_1 }}</li>
        <li>{{ page.Rule_1_2 }}</li>
        <li>{{ page.Rule_1_3 }}</li>
    </ul>

    <h5>{{ page.Rule_2 }}</h5>
    <ul>
        <li>{{ page.Rule_2_1 }}</li>
        <li>
            {{ page.Rule_2_2 }}
            <ul>
                <li>{{ page.Rule_2_2_1 }}</li>
                <li>{{ page.Rule_2_2_2 }}</li>
                <li>{{ page.Rule_2_2_3 }}</li>
                <li>{{ page.Rule_2_2_4 }}</li>
            </ul>
        <li>{{ page.Rule_2_3 }}</li>
        <li>{{ page.Rule_2_4 }}</li>
        <li>{{ page.Rule_2_5 }}</li>
    </ul>

    <h5>{{ page.Rule_3 }}</h5>
    <ul>
        <li>{{ page.Rule_3_1 }}</li>
        <li>{{ page.Rule_3_2 }}</li>
        <li>{{ page.Rule_3_3 }}</li>
        <li>{{ page.Rule_3_4 }}</li>
        <li>{{ page.Rule_3_5 }}</li>
        <li>{{ page.Rule_3_6 }}</li>
        <li>{{ page.Rule_3_7 }}</li>
        <li>{{ page.Rule_3_8 }}</li>
        <li>{{ page.Rule_3_9 }}</li>
    </ul>

    <h5>{{ page.Rule_4 }}</h5>
    <ul>
        <li>
            {{ page.Rule_4_1 }}
        <li>{{ page.Rule_4_2 }}</li>
        <li>
            {{ page.Rule_4_3 }}
            <ul>
                <li>{{ page.Rule_4_3_1 }}</li>
                <li>{{ page.Rule_4_3_2 }}</li>
            </ul>
        </li>
        <li>{{ page.Rule_4_4 }}</li>
        <li>{{ page.Rule_4_5 }}</li>
    </ul>
</div>

