<div class="official-rules-content js-official-rules-content" style="display:none;">
    <h4>Офіційні Умови Конкурсу</h4>
    <p>Першого Всеукраїнського відкритого музичного конкурсу Мирослава Скорика</p>

    <h5>1. ЗАГАЛЬНІ УМОВИ</h5>
    <ul>
        <li>1.1. І Всеукраїнський відкритий музичний конкурс Мирослава Скорика (далі – конкурс) відбудеться у місті Києві з 17 по 20 лютого 2016 року за номінацією "ФОРТЕПІАНО» у двох вікових категоріях.</li>
        <li>1.2. У конкурсі можуть брати участь піаністи: віком від 13 до 17 років (І категорія), 18-23 років (ІІ категорія) (на момент проведення конкурсу) – учні та студенти музичних навчальних закладів, які згодні з умовами конкурсу.</li>
        <li>1.3. Для участі в конкурсі є обов’язковим виконання програмних вимог.</li>
    </ul>

    <h5>2. ПОРЯДОК ПОДАЧІ ДОКУМЕНТІВ</h5>
    <ul>
        <li>2.1. Заявки на участь у конкурсі надсилаються до 20 січня 2015 року включно на офіційний е-mail конкурсу. Зразок заявки розміщено у розділі «Реєстрація».</li>
        <li>
            2.2. До заявки на участь у конкурсі додаються в електронній формі:
            <ul>
                <li>копії відповідних сторінок паспорта, які засвідчують вік і громадянство учасника, або свідоцтво про народження;</li>
                <li>копії диплома про музичну освіту, для учнів та студентів – довідка з місця навчання;</li>
                <li>творча біографія (резюме);</li>
                <li>фотокартка (формат jpg, png, tiff, git).</li>
            </ul>
        <li>2.3. Після отримання всіх необхідних документів оргкомітет конкурсу, не пізніше ніж 1 лютого 2015 року, надсилає підтвердження про участь у конкурсі на контактну адресу, вказану кандидатом у заявці. У разі необхідності надсилає офіційне запрошення.</li>
        <li>2.4. Документи, надіслані не в повному обсязі або із запізненням, не розглядаються.</li>
        <li>2.5. Оргкомітет конкурсу залишає за собою право використовувати всі надіслані учасниками інформаційні матеріали і фотографії для надання їх ЗМІ.</li>
    </ul>

    <h5>3. ПОРЯДОК ПРОВЕДЕННЯ КОНКУРСУ</h5>
    <ul>
        <li>3.1. Конкурсну програму складають змагання у два тури. Другий тур та заключний концерт переможців проводиться у супроводі симфонічного оркестру.</li>
        <li>3.2. Оцінювання виступів конкурсантів та визначення переможців конкурсу здійснює журі, до складу якого запрошуються діячі музичного мистецтва України та зарубіжних країн.</li>
        <li>3.3. Всі прослуховування відбуваються публічно.</li>
        <li>3.4. Порядок виступів конкурсантів у кожній номінації визначається жеребкуванням перед першим туром і зберігається до кінця конкурсу.</li>
        <li>3.5. Тривалість виступів конкурсантів не повинна виходити за межі дозволеного часу.</li>
        <li>3.6. До другого туру допускаються 4 конкурсанти у кожній віковій категорії.</li>
        <li>3.7. Рішення журі на всіх турах конкурсу є остаточним і оскарженню не підлягає.</li>
        <li>3.8. Всі переможці конкурсу мають бути присутні на урочистому закритті конкурсу, а також зобов’язані безкоштовно виступити в заключному концерті переможців.</li>
        <li>3.9. Оргкомітет конкурсу залишає за собою всі права на трансляцію по радіо, телебаченню та через Інтернет конкурсних прослуховувань і заключного концерту, їх аудіо- та відеозапис.</li>
    </ul>

    <h5>4. ФІНАНСОВІ УМОВИ</h5>
    <ul>
        <li>
            4.1. Всі учасники конкурсу до 20 січня 2015 року повинні сплатити вступний внесок у розмірі 1000 гривень на розрахунковий рахунок, який вказано у розділі «Реєстрація».<br>
            Без сплати вступного внеску учасник до конкурсних прослуховувань не допускається.<br>
            В разі відмови кандидата від участі в конкурсі вступний внесок йому не повертається.
        </li>
        <li>4.2. Проїзд конкурсантів до м. Києва і в зворотньому напрямку здійснюється за власний рахунок.</li>
        <li>
            4.3. Витрати, пов'язані з перебуванням (проживання і харчування), здійснюються таким чином:
            <ul>
                <li>для учасників I туру – за власний рахунок;</li>
                <li>для учасників II та заключного концерту переможців – за рахунок конкурсу.</li>
            </ul>
        </li>
        <li>4.4. Оргкомітет не забезпечує витрати, пов’язані з перебуванням інших осіб, які супроводжують конкурсантів.</li>
        <li>4.5. Учасники, які прибули на конкурс і відмовилися від виступу, а також учасники, які не пройшли на II тур, можуть залишатися до завершення конкурсу за власний рахунок.</li>
    </ul>
</div>

