<div class="parallax-codepen">
    <div class="overlay"></div>
    <div class="content">
        {% include svg/skoryk-competition-logo.svg %}
    </div>
    <div class="normal">
        <hgroup>
            <div class="last-day">
                <div class="text">Прийом<br>робіт до:</div>
                <div class="date">20</div>
                <div class="month">січня</div>
            </div>
            <h1>Skoryk<br>Competition<br>2016</h1>
            <h2>Всеукраїнський відкритий музичний конкурс<br>Мирослава Скорика</h2>
        </hgroup>
    </div>
</div>
