header {
    position: relative;
    z-index: 3;
    height: 100%;
    padding-bottom: 9%;
    @include linear-gradient(#fff, #eee);
    overflow: hidden;

    svg.triangle {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;

        path {
            fill: #fff;
        }
    }
}
