section.about {
    .caption {
        text-align: center;

        h3 {
            text-transform: uppercase;
            font-weight: 200;
            font-size: 30px;
            display: inline-block;
            margin: 0;
            padding: 50px 65px 88px;
            border: 10px solid #E6322F;
        }
    }
}


