section.about {
    position: relative;
    z-index: 1;
    // margin-top: -9%;
    max-width: 1020px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 95px;

    .caption {
        border: 10px solid #E6322F;
        display: inline-block;
        padding: 45px 65px 35px;
        margin: 0 auto 95px;

        h3 {
            letter-spacing: 2.73px;
            text-transform: uppercase;
            font-weight: 200;
            font-size: 30px;
            line-height: 1;
            margin: 0 0 35px;
        }
        hr {
            border: 0;
            height: 1px;
            background: #d4d4d4;
            margin: 0 0 3px;
        }
    }
    .description {
        text-align: left;
        font-family: $oranienbaum;
        @include clearfix;

        h4 {
            float: left;
            width: 34%;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
            text-align: right;
            padding-right: 40px;
            box-sizing: border-box;
        }
        article {
            float: left;
            width: 66%;
            font-size: 18px;
            color: #9E9E9E;
            @include columns(3);
        }
    }
}


