.about {
    margin: 0 auto;
    padding: 40px 0 0;

    .foreword-wrap {
        @include span-columns(8);
        @include shift(2);
        position: relative;
        padding: 0 2.5% 40px;

            @include media($tablet) {
                @include span-columns(12);
                @include shift(0);
            }

        .foreword-item {
            @include span-columns(4);

            @include media($mobile) {
                @include span-columns(12);
            }

            h4 {
                margin: 0 0 15px;
                text-align: right;
                font-size: 24px;
                font-weight: 700;

                @include media($tablet) {
                    text-align: left;
                }
            }
            p {
                text-align: left;
                color: #9E9E9E;
            }
        }
    }
    .speeches-wrap {
        @include span-columns(12);
        padding: 20px 2.5% 40px;
        @include linear-gradient(#f3f3f3, #fff);

        .speeches-item {
            text-align: left;
            font-size: 18px;
            color: #9E9E9E;
            position: relative;
            padding: 0 2.5% 40px;
            @include span-columns(4);

            @include media($mobile) {
                @include span-columns(12);
            }

            img {
                float: left;
                width: 100%;
                max-width: 424px;
                margin-bottom: 40px;
                margin-right: 40px;

                @include media($mobile) {
                    max-width: 224px;
                }
            }
            h4 {
                margin: 0 0 20px;
                color: #585858;
                font-size: 36px;

                // @include media($tablet) {
                //     font-size: 18px;
                // }
            }
            p {
                font-size: 18px;

                // @include media($tablet) {
                //     font-size: 14px;
                // }
            }
            h5 {
                margin: 0;
                color: #585858;
                font-size: 24px;

                // @include media($tablet) {
                //     font-size: 16px;
                // }
            }
        }
    }

    .gallery-title {
        @include span-columns(12);
        text-align: center;
        font-family: $oranienbaum;
        color: #585858;
        font-size: 36px;
        margin: 0 0 10px;
    }
    .gallery-description {
        @include span-columns(12);
        text-align: center;
        font-family: $oranienbaum;
        font-size: 18px;
        color: #9E9E9E;
        margin: 0 0 40px;
    }

    .gallery {
        width: 100%;
        position: relative;
        overflow: hidden;
        max-width: 800px;
        margin: 0 auto;


        svg.triangle {
            display: none;
            position: absolute;
            z-index: 10;
            top: -1px;
            left: 0;
            bottom: auto;
            width: 101%;
            @include transform(rotate(-180deg));

            path {
                fill: #fff;
            }
        }
    }

     svg.triangle {
        @include span-columns(12);
        margin-bottom: -1px;

        path {
            fill: #f3f3f3;
        }
    }
}


