.jury {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 0 5%;
    font-family: $oranienbaum;

    .jury-wrap {
        @include span-columns(12);
        margin-bottom: 40px;

        .jury-item {
            @include span-columns(12);
            margin-bottom: 40px;

            &.skoryk {
                @include span-columns(12);

                img {
                    float: left;
                    max-width: 494px;

                    @include media($mobile) {
                        max-width: 224px;
                    }
                }
            }
            &.dorfman {
                @include span-columns(6);

                @include media($mobile) {
                    @include span-columns(12);
                }
            }
            &.kot {
                @include span-columns(6);
                @include omega();

                @include media($mobile) {
                    @include span-columns(12);
                }
            }
            &.olyinyk {
                @include span-columns(4);

                @include media($mobile) {
                    @include span-columns(12);
                }
            }
            &.suhovienko {
                @include span-columns(4);

                @include media($mobile) {
                    @include span-columns(12);
                }
            }
            &.fedorov {
                @include span-columns(4);
                @include omega();

                @include media($mobile) {
                    @include span-columns(12);
                }
            }

            img {
                max-width: 224px;
                margin-right: 40px;
                margin-left: 0;
                margin-bottom: 40px;

                @include media($mobile) {
                    float: left;
                }
            }
            h4 {
                font-size: 36px;
                margin: 0 0 10px;
            }
            h5 {
                color: #9E9E9E;
                font-size: 24px;
                margin: 0 0 30px;
            }
            p {
                color: #9E9E9E;
                // font-size: 18px;
            }
        }
    }
}




