section.partners {
    @include clearfix;
    text-align: center;

    table {
        width: 100%;
    }

    article {
        float: left;
        width: 50%;
        padding: 30px;
        box-sizing: border-box;
    }
}


