section.about {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 20px 0 200px;

    .foreword {
        @include outer-container;
        font-family: $oranienbaum;
        // margin-bottom: 95px;
        position: relative;
        padding: 0 2.5% 180px;

        &_wrap {
            max-width: 1000px;
            margin: auto;
            @include clearfix;

            h4 {
                margin: 0;
                @include span-columns(4);
                text-align: right;
                font-size: 24px;
                font-weight: 700;
            }

            article {
                @include span-columns(4);
                text-align: left;
                color: #9E9E9E;

                &:last-child {
                    @include omega;
                }
            }
        }
         svg.triangle {
            position: absolute;
            z-index: 10;
            bottom: -1px;
            left: 0;
            width: 101%;
            // @include transform(rotate(-180deg));

            path {
                fill: #f3f3f3;
            }
        }
    }
    .speeches {
        @include outer-container;
        font-family: $oranienbaum;
        padding: 20px 2.5% 0;
        margin-bottom: 95px;
        @include linear-gradient(#f3f3f3, #fff);
        // background: #fff;

        article {
            text-align: left;
            font-size: 18px;
            color: #9E9E9E;
            position: relative;
            padding: 0 2.5%;

            img {
                width: 100%;
                max-width: 424px;
                margin-bottom: 40px;
                margin-left: 0;
                margin-right: 40px;
            }
            h4 {
                margin: 0 0 20px;
                color: #585858;
                font-size: 36px;

                @include media($tablet) {
                    font-size: 18px;
                }
            }
            p {
                font-size: 18px;

                @include media($tablet) {
                    font-size: 14px;
                }
            }
            h5 {
                margin: 0;
                color: #585858;
                font-size: 24px;

                @include media($tablet) {
                    font-size: 16px;
                }
            }

            &.poroshenko {
                @include span-columns(4);
                // background: #f3f3f3;
                // padding-bottom: 160px;

                img {
                    // float: left;
                }
            }
            &.skoryk {
                @include span-columns(4);
                // padding-right: 2.5%;
                // margin-top: -120px;
                h4 {
                    font-size: 38px;
                }
                p {
                    font-size: 20px;
                }
                h5 {
                    font-size: 26px;
                }
            }
            &.tomasyshyn {
                @include span-columns(4);
                @include omega();
                // padding-left: 2.5%;
                // margin-top: -120px;
            }
        }
         svg.triangle {
            display: none;
            position: absolute;
            // z-index: 10;
            bottom: -1px;
            left: 0;
            width: 101%;
            // @include transform(rotate(-180deg));

            path {
                fill: #fff;
            }
        }
    }

    .gallery-title {
        text-align: center;
        font-family: $oranienbaum;
        color: #585858;
        font-size: 36px;
        margin: 0 0 10px;
    }
    .gallery-description {
        text-align: center;
        font-family: $oranienbaum;
        font-size: 18px;
        color: #9E9E9E;
        margin: 0 0 40px;
    }

    .gallery {
        position: relative;
        overflow: hidden;
        max-width: 800px;
        margin: 0 auto;


        svg.triangle {
            display: none;
            position: absolute;
            z-index: 10;
            top: -1px;
            left: 0;
            bottom: auto;
            width: 101%;
            @include transform(rotate(-180deg));

            path {
                fill: #fff;
            }
        }
    }

    svg.triangle {
        // display: none;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;

        path {
            fill: #eee;
        }
    }
}


