body {
    background: #aaa;
    padding-top: 42px;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
main {
    padding: 0 40px 40px;
    max-width: 1300px;

    &>section {
        padding: 40px;
        min-height: 180px;
        border-bottom: 1px solid #eee;
        &:last-child {
            border: 0;
        }
    }
}