.conditions {
    background: #eee;
    font-family: $oranienbaum;
    @include outer-container;

    .rule-wrap {
        @include span-columns(12);
        border-bottom: 1px solid rgba(#000, .1);

        .official-rules-content,
        .bank-account-content {
            @include span-columns(12);
            background: #F5F5F5;
            padding: 20px 5%;
        }

        .rule-item {
            @include span-columns(12);
            @include omega;
            padding: 43px 5% 83px;
            border-top: 1px solid rgba(#000, .1);

            .number {
                @include span-columns(2);
                text-align: center;

                span {
                    display: inline-block;
                    background: $firmColor;
                    color: #fff;
                    line-height: 100px;
                    width: 100px;
                    font-size: 40px;
                    border-radius: 50px;
                    margin-top: -20px;
                    margin-bottom: -20px;
                }
            }
            .description {
                @include span-columns(7);

                h4 {
                    margin: 0 0 60px;
                    font-size: 26px;
                    line-height: 1.2;
                }
                p {
                    color: #9E9E9E;
                    margin: 0;
                }
            }
            .more {
                @include span-columns(3);
                @include omega;

                a.drop-down {
                    cursor: pointer;

                    svg {
                        margin-left: 6px;
                        width: 9px;

                        path {
                            stroke: $firmColor;
                            @include transition(stroke .1s ease-in-out);
                        }
                    }
                    &:hover svg path {
                        stroke: saturate(darken($firmColor, 15), 15);
                    }
                }
                a.doc {
                    position: relative;
                    padding-left: 34px + 20px;

                    svg {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 34px;
                        @include transform(translate3d(0,-50%,0));
                    }
                }
            }
        }
    }
}
