nav.main {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 35px 0;

    a {
        color: #000;
        display: inline-block;
        padding: 0 22px;
        text-transform: uppercase;
        // font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        @include transition(color .2s ease-in-out);

        &:hover,
        &.active {
            color: #e6322f;
        }
    }
}
