.programm {
    background: #eee;

    .wrap {
        padding: 0 5% 95px;
        font-family: $oranienbaum;
        text-align: center;
        @include span-columns(12);
        @include omega;
        // @include shift(2);
        margin-bottom: 50px;

        h4 {
            font-size: 24px;
            margin: 0 0 20px;
        }
        p {
            color: #9E9E9E;
            margin: 0;
            margin: 0 0 10px;
        }
    }


    .rule-container {
        font-family: $oranienbaum;

        .rule-item {
            @include span-columns(12);
            @include omega;
            padding: 43px 5% 83px;
            border-style: solid;
            border-color: rgba(#000, .1);
            border-width: 1px 0 0;

            &:last-child {
                border-width: 1px 0;
            }

            .number {
                @include span-columns(2);
                text-align: center;

                span {
                    display: inline-block;
                    background: $firmColor;
                    color: #fff;
                    line-height: 100px;
                    width: 100px;
                    font-size: 40px;
                    border-radius: 50px;
                    margin-top: -20px;
                    margin-bottom: -20px;
                }
            }
            .description {
                @include span-columns(10);

                h4 {
                    margin: 0 0 10px;
                    font-size: 26px;
                    line-height: 1.2;
                }
                p {
                    color: #9E9E9E;
                    margin: 0;
                }

                .music-wrap {
                    padding-top: 50px;

                    .music-item {
                        @include span-columns(12);
                        padding: 25px 0;

                        .title {
                            @include span-columns(7);
                        }
                        .link {
                            @include span-columns(5);
                            @include omega;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}


