.nav-main--news,
nav.nav-main {
  z-index: 200;
  float: left;
  opacity: 1;
  width: 100%;
  text-align: center;
  @include transition(background .2s ease-in-out);
  @include transform(translate3d(0,0,0));

  @include media($tablet) {
    display: none;
  }

  a {
    position: relative;
    color: #000;
    display: inline-block;
    padding: 35px 12px 25px;
    margin: 0 -3px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    border-bottom: 10px solid transparent;
    box-sizing: border-box;
    letter-spacing: -0.2px;
    @include transition(color .2s ease-in-out, border .2s ease-in-out);

    &:hover,
    &.active {
      color: #e6322f;
    }

    &.top {
      position: absolute;
      border: 0;
      padding-bottom: 35px;
      width: 172px;
      background: url(../img/skoryk-competition-logo.svg) center -22px no-repeat;
      background-size: cover;
      @include transform(translate3d(-100%,0,0));
    }
  }
  &-normal {
    position: absolute;

    a {
      &.top {
        display: none;
      }
    }
  }
  &-stick {
    position: fixed;
    background: #fff;

    a {
      &:hover,
      &.active {
        border-color: #e6322f;
      }
    }
  }
}
