---
layout: default
---

<nav class="nav-main--news-stick nav-main--news">
    {% assign posts=site.posts | where:"lang", page.lang | where:"name", "home" %}
    {% for post in posts %}
        <a href="{{ site.baseurl }}/" class="top">&nbsp;</a>
        <a href="{{ site.baseurl }}/#news" class="active">{{ site.data.l10n.t[page.lang].News }}</a>
        <a href="{{ site.baseurl }}/#about">{{ site.data.l10n.t[page.lang].About }}</a>
        <a href="{{ site.baseurl }}/#conditions">{{ site.data.l10n.t[page.lang].Conditions }}</a>
        <a href="{{ site.baseurl }}/#programm">{{ site.data.l10n.t[page.lang].Programm }}</a>
        <a href="{{ site.baseurl }}/#prizes">{{ site.data.l10n.t[page.lang].Prizes }}</a>
        <a href="{{ site.baseurl }}/#jury">{{ site.data.l10n.t[page.lang].Jury }}</a>
        <a href="{{ site.baseurl }}/#partners">{{ site.data.l10n.t[page.lang].Partners }}</a>
        <a href="{{ site.baseurl }}/#contacts">{{ site.data.l10n.t[page.lang].Contacts }}</a>
    {% endfor %}
    {% include 00-last-day.html %}
</nav>

<article class="singleNewsItem">
    <div class="singleNewsItem__container">

        <div class="singleNewsItem__header">

            <img class="singleNewsItem__image  {% if page.mainNews == true %}singleNewsItem__image--main{% endif %} js-lazy"
                data-original="{{ site.baseurl }}/{{ page.image }}"
                alt="{{ page.title }}"
            >

            <h1 class="singleNewsItem__title">{{ page.title }}</h1>

            <h2 class="singleNewsItem__description">{{ page.description }}</h2>

            <div class="singleNewsItem__date">{{ page.date | date: '%d.%m.%Y' }}</div>
        </div>

        <div class="singleNewsItem__content">

            {{ content }}
        </div>

        <footer class="singleNewsItem__footer">
            {{ site.data.l10n.t[page.lang].Powered }}
            <br>
            <a href="http://rooooster.com" target="_blank">Rooster Studio</a></div>
        </footer>
    </div>
</article>
